In [3]:
# Importing Libraries 
import pandas as pd

In [12]:
# Reading CSV File in Data-Frame
df = pd.read_csv('responses.csv', low_memory= False)
df.head()

,brand_id,brand_name,id,story_id,user_id,video_id,node_key,bot_response_id,bot_response_text,agent_response_text,weight,bot_audio_clip,audio_clip,created_time,isUploaded,isEncoded,isReviewed,metaData
0,3,Zenarate,4728,4146,62,20181.0,NaN,NaN,"I didn't understand what you said, Please try ...",We appreciate you working with us today to hel...,0,didt_understand_what_you_said.mp3,bot_practice_394144,2018-05-09 16:40:52,1,1,0,NaN
1,3,Zenarate,4729,4146,62,20181.0,NaN,NaN,"I didn't understand what you said, Please try ...",We appreciate you working with us today to hel...,0,didt_understand_what_you_said.mp3,bot_practice_464492,2018-05-09 16:41:16,1,1,0,NaN
2,3,Zenarate,4730,4136,62,20182.0,NaN,NaN,"I didn't understand what you said, Please try ...",Hi Connie Smith I'm so sorry my name is Christ...,0,didt_understand_what_you_said.mp3,NaN,2018-05-09 16:43:39,0,0,0,NaN
3,3,Zenarate,4731,4143,62,20183.0,NaN,NaN,"I didn't understand what you said, Please try ...",So sorry is this Sarah were there.,0,didt_understand_what_you_said.mp3,bot_practice_667854,2018-05-09 16:46:17,1,1,0,NaN
4,3,Zenarate,4732,4143,62,20184.0,NaN,NaN,"I didn't understand what you said, Please try ...",I'm so sorry is this Sarah were there.,0,didt_understand_what_you_said.mp3,bot_practice_801446,2018-05-09 16:55:00,1,1,0,NaN

In [13]:
# Converting Object Dtype to date_time
df.created_time = pd.to_datetime(df.created_time)

In [14]:
# Extracting Year From Created_Time attribute
year = df['created_time'].map(lambda created_time: created_time.strftime("%Y"))

In [15]:
# Appendind Year as 'year' in DataFrame
df.insert(0, "year", year, True)

In [16]:
df['year'] = df['year'].astype('int')

In [19]:
# Working on Year 2021-22
df_21_22 = df[df['year'] > 2020]

,year,brand_id,brand_name,id,story_id,user_id,video_id,node_key,bot_response_id,bot_response_text,agent_response_text,weight,bot_audio_clip,audio_clip,created_time,isUploaded,isEncoded,isReviewed,metaData
8439,2021,9,Sallie Mae,2622842,7709,4094,289517.0,opening_statement,30961.0,You are receiving an inbound call from a poten...,opening_statement,0,bot_response_audio_3342_1622149916481_23.mp3,NaN,2021-07-20 17:17:39,0,0,1,NaN
8440,2021,9,Sallie Mae,2622843,7709,4094,289517.0,agent_intro_and_ask_customer_name,30961.0,"Hi, I'm Rachel Smith. *Ask the caller the reas...",Thank you for calling Sallie Mae. My name is L...,0,bot_response_audio_3342_1621872494303_59.mp3,opus_4094_1626801459208,2021-07-20 17:17:39,1,1,1,NaN
8441,2021,9,Sallie Mae,2622856,7709,4094,289517.0,reason_for_call_how_help,26431.0,I need a student loan and wanted to know what ...,And what's the reason for your call? Miss Smith?,0,bot_response_audio_3342_1615497388045_82.mp3,opus_4094_1626801475921,2021-07-20 17:17:56,1,1,1,NaN
8442,2021,9,Sallie Mae,2622898,7709,4094,289517.0,type_of_program,26438.0,Undergraduate. *Ask the location of the school.*,"OK, I can definitely assist you with that. Now...",0,bot_response_audio_3342_1615497750398_11.mp3,opus_4094_1626801527336,2021-07-20 17:18:47,1,1,1,NaN
8443,2021,9,Sallie Mae,2622911,7709,4094,289517.0,location_of_school,28407.0,"It's located in Boulder, Colorado. *Proceed wi...",And where is your school located? In what state?,0,bot_response_audio_3342_1617922861384_90.mp3,opus_4094_1626801544269,2021-07-20 17:19:04,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3793435,2022,223,Startek,4058175,9934,34851,436320.0,opening_statement,0.0,Test 1,opening_statement,0,bot_response_audio_34851_1646220527427_46.mp3,NaN,2022-03-02 15:16:13,0,0,1,NaN
3793436,2022,223,Startek,4058177,9934,34851,436320.0,confirming_address,45083.0,Test,"Hello, if this is your current address.",0,bot_response_audio_34851_1646168117834_79.mp3,NaN,2022-03-02 15:16:29,0,0,1,NaN
3793437,2022,223,Startek,4058218,9934,34851,436327.0,opening_statement,45083.0,Test 1,opening_statement,0,bot_response_audio_34851_1646220527427_46.mp3,NaN,2022-03-02 15:22:09,0,0,1,[]
3793438,2022,223,Startek,4058219,9934,34851,436327.0,confirming_address,45083.0,Test,"Hello, is this your current address?",0,bot_response_audio_34851_1646168117834_79.mp3,opus_34851_1646234528160,2022-03-02 15:22:09,1,1,1,"{""type"": 1, ""spellErrorCount"": 0, ""grammarErro..."
3793439,2022,223,Startek,4058221,9934,34851,436327.0,None,0.0,"I didnt understand what you said, Please try a...",Am I speaking to Miss Mary?,0,didt_understand_what_you_said.mp3,opus_34851_1646234539704,2022-03-02 15:22:20,1,1,1,"{""type"": ""1"", ""spellErrorCount"": 0, ""grammarEr..."

In [20]:
# Grouping According To Requirement
gp = df_21_22.groupby(['year','brand_name','user_id','story_id','video_id']).node_key.agg(['count','max','min','unique'])
gp

                                              count                    max  \
year brand_name    user_id story_id video_id
2021 ADP           29345   8856     347158.0      2      opening_statement
                                    347159.0      2      opening_statement
                                    347161.0      2      opening_statement
                           9232     381018.0     11        willing_to_help
                                    383454.0      2      opening_statement
...                                             ...                    ...
2022 Zenarate Test 20105   9972     439878.0      1      opening_statement
                                    439879.0      1      opening_statement
                                    439880.0      3         verify_address
                                    439881.0      3      opening_statement
                   31251   9561     431260.0      3  verify_dob_last_4_ssn

                                                               min  \
year brand_name    user_id story_id video_id
2021 ADP           29345   8856     347158.0         confirm_phone
                                    347159.0                  None
                                    347161.0                  None
                           9232     381018.0  agent_intro_how_help
                                    383454.0  agent_intro_how_help
...                                                            ...
2022 Zenarate Test 20105   9972     439878.0     opening_statement
                                    439879.0     opening_statement
                                    439880.0           how_are_you
                                    439881.0           how_are_you
                   31251   9561     431260.0     opening_statement

                                                                                         unique
year brand_name    user_id story_id video_id
2021 ADP           29345   8856     347158.0                 [opening_statement, confirm_phone]
                                    347159.0                          [opening_statement, None]
                                    347161.0                          [opening_statement, None]
                           9232     381018.0  [opening_statement, agent_intro_how_help, will...
                                    383454.0          [opening_statement, agent_intro_how_help]
...                                                                                         ...
2022 Zenarate Test 20105   9972     439878.0                                [opening_statement]
                                    439879.0                                [opening_statement]
                                    439880.0   [opening_statement, how_are_you, verify_address]
                                    439881.0                   [opening_statement, how_are_you]
                   31251   9561     431260.0  [opening_statement, opening_statement_from_age...

[247703 rows x 4 columns]

In [21]:
# Saving Grouped Data In Excel
gp.to_excel("result.xlsx")